main{
    margin: 0;
    position: absolute;
    top: 60px;
    width: 560px;
    height: 590px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.count{
    width: 100%;
    height: 30px;
    font-size: 2em;
    display: flex;
}

.text{
    font-size: 20px;
    width: 50px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.bar{
    width: 100%;
    height: 30px;
    background-color: orange;
    transition: 1s;
}
.board{
    position: relative;
    width: 560px;
    height: 560px;
    padding: 2px;
    border: 1px solid black;
    background-color: rgba(130, 150, 170, 0.5);
}

.gam{
    padding: 2px;
    
    border: 1px solid red;
}

/* [추가] 펑 터지는 효과 */
@keyframes popEffect {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.2); opacity: 0.8; }
    100% { transform: scale(0); opacity: 0; }
}
.remove-effect {
    animation: popEffect 0.3s ease-out forwards;
    pointer-events: none;
    border: none !important; /* 테두리도 없애서 깔끔하게 */
    background-color: transparent !important;
}
